<section>
    <div class="container me-5">
        <div class="row">
            <div class="col-md-6 mt-5">

                <h3 class="mb-5 text-center">Login</h3>

                <form action="/login" method="post">

                    {{#if loginError}}
                    <p class="error">{{loginError}}</p>
                    {{/if}}


                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="col-md-12">
                        <a href="/signup" style="text-decoration: none;">Create new account?</a>
                        <button type="submit" class="btn btn-primary float-md-end">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>